* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cargando {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.description {
    display: flex;
    gap: 20px;
}

.ver-mas {
    font-weight: bold;
    background-color: rgb(211, 211, 211);
    padding: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 20%;
}

.img-item {
    height: 250px;
}

.img-item-detail {
    height: 350px;
}

.description {
    font-size: 20px;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cantidad {
    display: flex;
    align-items: center;
}

.numCantidad {
    font-size: 25px;
}

.btn-cantidad {
    padding: 5px;
    margin: 10px;
}

.btn-agregar {
    width: 200px;
}

.btn-cantidad, .btn-agregar {
    border: none;
    border-radius: 15%;
}

.btn-cantidad:hover, .btn-agregar:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(223, 221, 221);
    margin-top: 20px;
    padding: 10px;
}